<html>
    <head>
        <meta name="viewport" content="with-device-width, initial-scale=1.0">
        <title>WEBSITE</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/all.css"> 

    </head>
<body>
        <section class="sub-header blog-banner">
            <nav>
                <a href="/index"> <img src="../static/images/logo.png"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                      <li><a href="/login">LOGIN</a></li>
                      <li><a href="/profile">PROFILE</a></li>
                      <li><a href="/index">HOME</a></li>
                      <li><a href="/about">ABOUT</a></li>
                      <li><a href="/predictionPage">PREDICT</a></li>
                      <!-- <li><a href="/blog">BLOG/NEWS</a></li> -->
                      <li><a href="/contactUs">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>

            <h1>Blog and News</h1>

        </section>
        <!------------------ blog design ------------------------------>
        
        <section class = "design" id = "design">
            <div class = "container">
              <div class = "title">
                <p>recent papers on the blog</p>
              </div>
      
              
              <div class = "design-content">
                <div class="row2">
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/vaccine1.jpg" alt = "">
                    <span><i class = "far fa-heart"></i> 22</span>
                    <span>Research Paper</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://pubmed.ncbi.nlm.nih.gov/34952758/">Does a major change to a COVID-19 vaccine program alter vaccine intention? A qualitative investigation</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/childrenvaccinenew.jpg" alt = "">
                    <span><i class = "far fa-heart"></i> 22</span>
                    <span>Research Paper</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.sciencedirect.com/science/article/pii/S221475002100161X">Why are we vaccinating children against COVID-19?</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/lung.jpg" alt = "">
                    <span><i class = "far fa-heart"></i> 22</span>
                    <span>Research Paper</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.sciencedirect.com/science/article/pii/S2352940718302853">Investigation into the toxic effects of graphene nanopores on lung cancer cells and biological tissues</a>
                  </div>
                </div>
                </div>
            </div>
                <!-- end of item -->
                <!-- item -->
            <div class="row2">
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/pregnantSmoking.gif" alt = "">
                    <span><i class = "far fa-heart"></i> 22</span>
                    <span>Research Paper</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.bmj.com/content/375/bmj-2021-065217">Financial incentives for smoking cessation in pregnancy: multicentre randomised controlled trial</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/dementia.jpg" alt = "">
                    <span><i class = "far fa-heart"></i> 22</span>
                    <span>Research Paper</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.bmj.com/content/374/bmj.n1804">Cognitive stimulation in the workplace, plasma proteins, and risk of dementia: three analyses of population cohort studies</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/carbDiabetes.jpg" alt = "">
                    <span><i class = "far fa-heart"></i> 22</span>
                    <span>Research Paper</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.bmj.com/content/373/bmj.n262">Low and very low carbohydrate diets for diabetes remission</a>
                  </div>
                </div>
                </div>
                </div>
                <!-- end of item -->
                <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/mitochondria.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/375/bmj-2021-066288">Use of whole genome sequencing to determine genetic basis of suspected mitochondrial disorders: cohort study</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/data-bias.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/375/bmj.n2281">Risk of bias in studies on prediction models developed using supervised machine learning techniques: systematic review</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/fish-oil-supplements.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/376/bmj-2021-066452">Vitamin D and marine omega 3 fatty acid supplementation and incident autoimmune disease: VITAL randomized controlled trial</a>
                      </div>
                    </div>
                    </div>
                </div>
                  <!-- end of item -->
                  <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/kidney.webp" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/375/BMJ-2021-068247">Sex differences in mortality among binational cohort of people with chronic kidney disease: population based data linkage study</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/fatty_acids.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/374/bmj.n1448">Dietary alteration of n-3 and n-6 fatty acids for headache reduction in adults with migraine: randomized controlled trial</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/antipsychotic-drugs.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/374/bmj.n1925">Use of antipsychotic drugs and cholinesterase inhibitors and risk of falls and fractures: self-controlled case series</a>
                      </div>
                    </div>
                    </div>
                </div>
                  <!-- end of item -->
                  <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/ankle_fracture.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/374/bmj.n1506">Use of cast immobilisation versus removable brace in adults with an ankle fracture: multicentre randomised controlled trial</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/acute_coronary.png" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/372/bmj.n355">High flow oxygen and risk of mortality in patients with a suspected acute coronary syndrome: pragmatic, cluster randomised, crossover trial</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/amyloid.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/372/bmj.n156">Effect of reductions in amyloid levels on cognitive change in randomized trials: instrumental variable meta-analysis</a>
                      </div>
                    </div>
                    </div>
                </div>
                  <!-- end of item -->
                  <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/meningiomaiansuk.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/372/bmj.n37">Use of high dose cyproterone acetate and risk of intracranial meningioma in women: cohort study</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/back-pain.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/372/bmj.m4825">Efficacy and safety of antidepressants for the treatment of back pain and osteoarthritis: systematic review and meta-analysis</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/nitrogen_dioxide.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.bmj.com/content/372/bmj.n534">Short term associations of ambient nitrogen dioxide with daily total, cardiovascular, and respiratory mortality: multilocation analysis in 398 cities</a>
                      </div>
                    </div>
                    </div>
                </div>
                  <!-- end of item -->
                  <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/ICT2.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://techniumscience.com/index.php/biochemmed/article/view/5786">Stress, Hormones & the role of ICT in autism</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/Autism.jpeg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://techniumscience.com/index.php/biochemmed/article/view/5877">Environmental factors and their effect on the occurrence of autism</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/clincial-header.webp" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://techniumscience.com/index.php/biochemmed/article/view/5716">Study some of inflammatory indicator with corona patient and relation with chronic disease</a>
                      </div>
                    </div>
                    </div>
                </div>
                  <!-- end of item -->
                  <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/leukemia.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://techniumscience.com/index.php/biochemmed/article/view/5930">Evaluation of Tumor Necrosis factor-alpha level in acute leukemic Sudanese patients with pancytopenia</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/dusting.webp" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.nature.com/articles/s41598-022-09200-1">Study on dust migration law and spray dedusting technology in parallel double belt transportation</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/rooftop.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "nature.com/articles/s41598-022-08968-6">Techno-economic analysis of rooftop solar power plant implementation and policy on mosques: an Indonesian case study</a>
                      </div>
                    </div>
                    </div>
                </div>
                  <!-- end of item -->
                  <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/windpowerplant.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.nature.com/articles/s41598-022-09323-5">A wind power plant site selection algorithm based on q-rung orthopair hesitant fuzzy rough Einstein aggregation information</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/plasticwaste.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.nature.com/articles/s41598-022-09148-2">Energy recovery of waste plastics into diesel fuel with ethanol and ethoxy ethyl acetate additives on circular economy strategy</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/carbonenergy.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.nature.com/articles/s41598-022-08774-0">Current state and call for action to accomplish findability, accessibility, interoperability, and reusability of low carbon energy data</a>
                      </div>
                    </div>
                    </div>
                </div>
                  <!-- end of item -->
                  <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/axial-flow-pump.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.nature.com/articles/s41598-022-09157-1">Investigation of the hydrodynamic characteristics of an axial flow pump system under special utilization conditions</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/bendable.png" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.nature.com/articles/s41598-022-08829-2">Polarization and angular insensitive bendable metamaterial absorber for UV to NIR range</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/photothermal.jpg" alt = "">
                        <span><i class = "far fa-heart"></i> 22</span>
                        <span>Research Paper</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.nature.com/articles/s41598-022-07469-w">Photothermal conversion of biodegradable fluids and carbon black nanofluids</a>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
          </section>
          <!-- end of design -->















          <!----------news design-------------->>

          <section class = "design" id = "design">
            <div class = "container">
              <div class = "title">
                <p>News Channels</p>
              </div>
      
              
              <div class = "design-content">
                <div class="row2">
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/Medscape2.jpg" alt = "">
                    
                    <span>News</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.medscape.com/">Medscape</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/News-Medical_Logo.png" alt = "">
                   
                    <span>News</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.news-medical.net/">News Medical Lifescience</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/MedGaget.png" alt = "">
                    
                    <span>News</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.medgadget.com/">Med Gadget</a>
                  </div>
                </div>
                </div>
            </div>
                <!-- end of item -->
                <!-- item -->
            <div class="row2">
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/medicalX.jfif" alt = "">
                    
                    <span>News</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://medicalxpress.com/">Medical Xpress</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/WHO (1).jpg" alt = "">
                   
                    <span>News</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.who.int/">WHO</a>
                  </div>
                </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class="blog-col">
                <div class = "design-item">
                  <div class = "design-img">
                    <img src = "../static/images/wired.jpg" alt = "">
                   
                    <span>News</span>
                  </div>
                  <div class = "design-title">
                    <a href = "https://www.wired.com/">WIRED</a>
                  </div>
                </div>
                </div>
                </div>
                <!-- end of item -->
                <div class="row2">
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/engadget2.png" alt = "">
                        
                        <span>News</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.engadget.com/">Engadget</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/verge.jpg" alt = "">
                       
                        <span>News</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://www.theverge.com/">The Verge</a>
                      </div>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="blog-col">
                    <div class = "design-item">
                      <div class = "design-img">
                        <img src = "../static/images/Gizmodo-Logo.jpg" alt = "">
                       
                        <span>News</span>
                      </div>
                      <div class = "design-title">
                        <a href = "https://gizmodo.com/">Gizmodo</a>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
          </section>











        <!-----------------------------Footer------------------------------>
        <section class="footer">
            <h4>Support Us</h4>
            <p>Hello This is Nishant Upadhyay have made this website as my ML Project</p>

            <p>Made with <i class="far fa-heart"></i>  by Nishant Upadhyay</p>
        </section>

        <!----------------------JavaScript for MENU------------------------->

        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu(){
                navLinks.style.right = "0";
            }
            function hideMenu(){
                navLinks.style.right = "-200";
            }


        </script>
</body>
</html>


